:root{
    --main-color: #f24d00;
}

.w100{
    width: 100%;
}
.w1440{
    width: 1440px;
    margin: 0 auto;
}
.flex{
    display: flex;
}
.fixed{
    background-color: #fff;
}


/* header */
header{
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 999;
}
.h_wrap{
    justify-content: space-between;
}
.h_wrap>h1 img{
    width: 150px;
    height: 100px;
}
.h_menu{
    padding: 30px 0;
    gap: 50px;
    font-size: 18px;
    font-weight: 900;
}


/* quick */
.quick_btn{
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 99999;
}
.btn{
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
    border-radius: 50%;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.top{
    line-height: 20px;
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    background-color: var(--main-color);
    cursor: pointer;
}
.top>img{
    width: 24px;
}
.inquiry{
    line-height: 30px;
    font-size: 24px;
    font-weight: 700;
    color: var(--main-color);
    background-color: #fff;
}


/* 1st section */
.sec1{
    height: 500px;
    background-image: url(../img/about_cheo_2bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}
.sec1>h2{
    text-align: center;
    line-height: 500px;
    font-size: 64px;
    font-weight: 800;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    color: #fff;
}


/* 2nd section */
.menu_area{
    padding: 50px 0 10px;
    border-bottom: 2px solid #ccc;
    position: relative;
}
.menu_area>ul{
    justify-content: center;
    align-items: baseline;
    gap: 50px;
}
.menu_area>ul a{
    font-size: 24px;
}
.menu_area ul>li:first-child a{
    font-weight: 700;
    color: var(--main-color);
}
.menu_area ul>li:first-child a::after{
    content: "";
    display: block;
    width: 140px;
    height: 3px;
    background-color: var(--main-color);
    position: absolute;
    bottom: -1px;
}
.img_area{
    padding: 50px 0;
    align-items: center;
    justify-content: center;
}
.img{
    width: 770px;
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
}
.img_1{
    background-image: url(../img/storeBg.png);
}
.introTxt{
    padding-left: 50px;
}
.introTxt>h3{
    margin-bottom: 40px;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: -2%;
    color: var(--main-color);
}
.introTxt>p, .intro2Txt>p{
    font-size: 24px;
    font-weight: 500;
    line-height: 50px;
}
.introTxt>p:not(:last-child), .intro2Txt>p:not(:last-child){
    margin-bottom: 40px;
}
.intro2Txt{
    padding-right: 50px;
    text-align: right;
}
.img_2{
    background-image: url(../img/df288e18cebc3.png);
}


/* 3rd section */
.sec3{
    padding: 150px 0;
}
.sec3>h3{
    padding-bottom: 70px;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}
.sec3>h3>span{
    font-weight: 700;
    color: var(--main-color);
}
.bi_1{
    flex-direction: column;
    align-items: center;
}
.bi_1>p{
    font-size: 20px;
    font-weight: 500;
}
.img_3{
    width: 500px;
    height: 260px;
    background-image: url(../img/logo_3.png);
    background-position: center;
    background-size: cover;
    margin-bottom: 30px;
}
.bi_2{
    padding-top: 50px;
    gap: 70px;
    justify-content: center;
}
.bi_2>div{
    text-align: center;
}
.bi_2>div p{
    font-size: 20px;
}
.ig{
    width: 300px;
    height: 170px;
    margin-bottom: 30px;
    background-repeat: no-repeat;
    background-size: 300px 170px;
}
.img_4{
    background-image: url(../img/logo_1.png);
}
.img_5{
    background-image: url(../img/logo_2.png);
}
.bi_3{
    justify-content: center;
}
.img_6{
    width: 1300px;
    height: 1600px;
    background-image: url(../img/car.jpg);
    background-repeat: no-repeat;
    background-size: 1300px 1600px;
}


/* 4th section */
.sec4{
    padding: 50px 0;
}
.sec4>h3{
    padding-bottom: 30px;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}
.sec4>h3>span{
    font-weight: 700;
    color: var(--main-color);
}
.img_7{
    width: 390px;
    height: 430px;
    background-image: url(../img/cheo_sim_001.png);
}
.img_8{
    width: 390px;
    height: 430px;
    background-image: url(../img/cheo_sim_003.png);
}
.bi_4{
    align-items: center;
    justify-content: center;
}
.bi_4>p{
    text-align: center;
    line-height: 50px;
    font-size: 24px;
}
.bi_4>p>span{
    font-weight: 500;
}


/* 5th section */
.sec5{
    padding: 150px 0 100px;
}
.sec5>h3{
    padding-bottom: 70px;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}
.sec5>h3>span{
    font-weight: 700;
    color: var(--main-color);
}
.bi_5>div{
    margin-bottom: 30px;
}
.bg{
    height: 270px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    isolation: isolate;
}
.bg:hover{
    height: 400px;
    transition: 0.3s;
}
.bg:hover::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
    background-color: #000;
    opacity: 0.5;
}
.bg>h4{
    height: 280px;
    font-size: 48px;
    color: #fff;
    display: none;
}
.bg>p{
    font-size: 24px;
    color: #fff;
    display: none;
}
.bg:hover>h4{
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg:hover>p{
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg_1{
    background-image: url(../img/sisul04.jpg);
    background-position: center;
    position: relative;
}
.bg_2{
    background-image: url(../img/sisul03.jpg);
    background-position: bottom;
}
.bg_3{
    background-image: url(../img/sisul01.jpg);
    background-position: center;
}
.bg_4{
    background-image: url(../img/sisul02.jpg);
    background-position: center;
}


/* footer */
footer{
    padding: 80px 0;
    font-weight: 500;
    color: #888;
    background-color: #230A04;
}
footer>div{
    position: relative;
}
.f_top,.f_middle{
    margin-bottom: 20px;
}
.f_top>a{
    font-weight: 500;
    color: #888;
}
.f_top span{
    font-weight: 700;
    color: #bababa;
}
footer span{
    padding-right: 20px;
    position: relative;
}
footer span:not(.last)::after{
    content: "";
    width: 1px;
    height: 18px;
    background-color: #888;
    position: absolute;
    top: 5px;
    right: 8px;
}
.sns{
    gap: 30px;
    position: absolute;
    right: 0;
    bottom: 0;
}
.sns img{
    width: 32px;
    height: 32px;
}